# Dependencies
node_modules/
packages/

# Build output
dist/
dist-ssr/
*-dist/
*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Misc
**/agent-eval-report*
pids/
*.pid
*.seed
*.pid.lock
.file-manifest
.devcontainer/

.spark-workbench-id
